<%- include('partials/head') %> 

<body>
  <%- include('partials/navbar') %> 
  <h1>All The Cats, Just chillin</h1>
  
  <ul>
    <% for( let index = 0; index < cats.length; index++ ) { %>
    <li><%= cats[index] %> </li>
    <% } %>
  </ul>

</body>
</html>