<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>The Home Page   <%=  %></h1>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi iure minima, blanditiis, eligendi repellendus ratione ducimus aspernatur officia adipisci modi, laborum odio accusamus quam obcaecati deserunt cum eos suscipit nostrum?
  Quisquam laborum nobis, id recusandae cum modi qui dolores nulla, quis, a doloremque voluptatum ab voluptatibus corporis labore. Neque saepe aspernatur iusto maiores reiciendis mollitia laudantium repellat autem cum a.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem animi minima quo perspiciatis recusandae, iste error autem est unde, excepturi, odit doloremque! Veniam repellat natus at hic voluptas mollitia asperiores.</p>
</body>
</html>