<%- include('partials/head') %> 

<body>
  <%- include('partials/navbar') %> 
  <h1>Test one, test two <%= num %> </h1>

  <% if (num % 2 === 0) { %>
    <h2>This is even</h2>
  <% } else {%>
    <h2>this is an odd number</h2>
  <% } %> 

  <h3><%= num%2===0 ? 'EVEN' : 'ODD' %> </h3>
</body>
</html>